openapi: '3.0.3'
info:
  title: 'auth'
  description: ''
  version: 1.0.0
servers:
- url: https://ticketing.dev/api/
- url: http://ticketing.dev/api/
tags:
- name: users
  description: Everything about user
paths:
  /users/currentUser:
    get:
      tags:
      - users
      summary: Get current user
      operationId: getCurrentUser
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Invalid username supplied
          content: {}
        404:
          description: User not found
          content: {}
  /users/signin:
    post:
      tags:
      - users
      summary: Signin user
      operationId: signinUser
      requestBody:
        description: User details
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: successful signin
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        400:
          description: Invalid user details
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        404:
          description: User not found
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /users/signout:
    post:
      tags:
      - users
      summary: Signout user
      operationId: signoutUser
      responses:
        400:
          description: Invalid user details
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        404:
          description: User not found
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /users/signup:
    post:
      tags:
      - users
      summary: Signup user
      description: This can only be done by the logged in user.
      operationId: signupUser
      requestBody:
        description: New user details
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: successful signin
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        400:
          description: Invalid user details
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        404:
          description: User not found
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
components:
  schemas:
    Response:
      required:
        - message
      type:
        object
      properties:
        message:
          type: string
    User:
      required:
        - email
        - password
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      xml:
        name: Order
